.sidebar {
    width: 250px; /* Adjust width as needed */
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #fff; /* Background color for the sidebar */
    border-right: 1px solid #ddd; /* Border between sidebar and content */
    transition: transform 0.3s ease; /* Add smooth transition for the transform property */
  }
  
  .sidebar.scrolled {
    transform: translateX(-100%);
  }
  