.image-container {
    position: relative;
    display: inline-block;
    transition: all 3s ease;
    overflow: hidden;
  }
  
  .image-container:after {
    content:"";
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    /* opacity: 0; */
    transition: all .3s ease; /* Smooth fade effect */
  }
  
  .image-container:hover:after {
    top: 0; /* Show the overlay on hover */
  }
  