

.animated-words {
  overflow: hidden;
}
h2 {
  margin: 0;
  font-size: 20vh;
}
.the-word-making {
  float: left;
  position: relative;
  display: inline-block;
}
ul.changing-words-list {
  float: left;
  position: relative;
  display: inline-block; 
  margin: 0;
  padding: 0;
}
li.one,
li.two,
li.three,
li.four,
li.five,
li.single-word {
  list-style: none;
  margin: 0;
  width: 1000px;
  display: block;
  position: absolute;
  top: 0;
}


 /* Spacing between "Making" and word */
.one,
.two,
.three,
.four,
.five {
  padding-left: .35em;
}
.single-word {
  padding-left: 0;
}

/* Text color */
.one,
.two,
.three,
.four {
  color: #c74282;
}
.five {
  color: #333;
}
.single-word {
  color: #00ff00;
}

/* Animation */
.one,.two,.three,.four,.five {
  opacity: 0;
  @include animation (fade 15s infinite linear);
}

  .one { @include animation-delay(0s); }

  .two { @include animation-delay(3s); }

.three { @include animation-delay(6s); }

 .four { @include animation-delay(9s); }

 .five { @include animation-delay(12s); }

@include keyframes(fade) {
   0% { opacity: 0; }
  10% { opacity: 1; }
  15% { opacity: 1; }
  20% { opacity: 1; }
  25% { opacity: 0; }
  30% { opacity: 0; }
  35% { opacity: 0; }
  40% { opacity: 0; }
  45% { opacity: 0; }
  50% { opacity: 0; }
  55% { opacity: 0; }
  60% { opacity: 0; }
  65% { opacity: 0; }
  70% { opacity: 0; }
  75% { opacity: 0; }
  80% { opacity: 0; }
  85% { opacity: 0; }
  90% { opacity: 0; }
  95% { opacity: 0; }
 100% { opacity: 0; }
}