@tailwind base;
@tailwind components;
@tailwind utilities;

ul,ol{
    list-style-type: none;
    margin:0;
    padding:0;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header,footer{
    height: 10vh;
    padding: 15px;
}

#root{
    max-height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-flow: column;
    overflow-y: auto;
    justify-content: space-between;
}

header ul li a.active{
    background-color: red;
}

.app {
    transition: padding-top 0.3s ease;
    /* Smooth transition for header shrink effect */
}

.header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.scrolled-header.header,
.header.fixed {
    padding: 10px;
    /* Shrink the header */
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
}

.content {
    padding: 20px;
}