.btn {
    text-align: center;
    font-size:60px;
    text-transform:uppercase;
    height:90px;
    vertical-align: middle;
    line-height: normal;
    width:15rem;
    border:5px solid #9198e5;
    border-radius: 10px;
    font-family:Allan;
  margin-left: 20px;
  margin-right: 20px;
}

.btn:active {
    color:aliceblue;
    transform: scale(0.99,0.99);
}
.one {
    background: linear-gradient(#e66465, #9198e5);
    transition: all 0.4s;
    transition-timing-function:cubic-bezier(0.5, 3, 0, 1);
}

.one:hover {
    background: linear-gradient(#e66496, #91b8e5);
    transform: skewX(-15deg);
}

.two {
    background: linear-gradient(#64e68b, #e5b091);
    transition: all 0.4s;
    transition-timing-function:cubic-bezier(0.5, 3, 0, 1);
}

.two:hover {
    background: linear-gradient(#64e6d0, #e5c391);
    transform: rotatex(20deg) rotateY(20deg);
}

.three {
    background: linear-gradient(#b986d6, #88daa1);
    border:4px solid #e4a13d;
    transition: all 0.4s;
    transition-timing-function:cubic-bezier(0.5, 3, 0, 1);
}

.three:hover {
    transform:scale(1.2,1.2);
}